<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>177361923073-kfb8lg6n0th5v0t5670oftqfvqoo2ljb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.177361923073-kfb8lg6n0th5v0t5670oftqfvqoo2ljb</string>
	<key>API_KEY</key>
	<string>AIzaSyDFeDIfSfrvIwur8sur2hxip7cOJcKDjwg</string>
	<key>GCM_SENDER_ID</key>
	<string>177361923073</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fruit-app.co</string>
	<key>PROJECT_ID</key>
	<string>fruit-app-3d0d9</string>
	<key>STORAGE_BUCKET</key>
	<string>fruit-app-3d0d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177361923073:ios:d584ddc56469a16740a400</string>
</dict>
</plist>